

<div class="row">
	<div class="col-6 p-0 py-1 hover-red">
		<a asp-action="Index" asp-controller="Home" asp-route-price="1" class=" text-decoration-none hover-red">
			<i class="fas fa-angle-right"></i>
			<span class="text-black ">
				<span class=" hover-red">
					Dưới 1 triệu
				</span>
			</span>
		</a>
	</div>
	<div class="col-6 p-0 py-1 hover-red">
		<a asp-action="Index" asp-controller="Home" asp-route-price="1-3" class=" text-decoration-none hover-red">
			<i class="fas fa-angle-right"></i>
			<span class="text-black ">
				<span class=" hover-red">
					Từ 1 triệu - 3 triệu
				</span>
			</span>
		</a>
	</div>
	<div class="col-6 p-0 py-1 hover-red">
		<a asp-action="Index" asp-controller="Home" asp-route-price="3-5" class=" text-decoration-none hover-red">
			<i class="fas fa-angle-right"></i>
			<span class="text-black ">
				<span class=" hover-red">
					Từ 3 triệu - 5 triệu
				</span>
			</span>
		</a>
	</div>
	<div class="col-6 p-0 py-1 hover-red">
		<a asp-action="Index" asp-controller="Home" asp-route-price="5-7" class=" text-decoration-none hover-red">
			<i class="fas fa-angle-right"></i>
			<span class="text-black ">
				<span class=" hover-red">
					Từ 5 triệu - 7 triệu
				</span>
			</span>
		</a>
	</div>
	<div class="col-6 p-0 py-1 hover-red">
		<a asp-action="Index" asp-controller="Home" asp-route-price="7-10" class=" text-decoration-none hover-red">
			<i class="fas fa-angle-right"></i>
			<span class="text-black ">
				<span class=" hover-red">
					Từ 7 triệu - 10 triệu
				</span>
			</span>
		</a>
	</div>
	<div class="col-6 p-0 py-1 hover-red">
		<a asp-action="Index" asp-controller="Home" asp-route-price="10-15" class=" text-decoration-none hover-red">
			<i class="fas fa-angle-right"></i>
			<span class="text-black ">
				<span class=" hover-red">
					Từ 10 triệu - 15 triệu
				</span>
			</span>
		</a>
	</div>
	<div class="col-6 p-0 py-1 hover-red">
		<a asp-action="Index" asp-controller="Home" asp-route-price=">15" class=" text-decoration-none hover-red">
			<i class="fas fa-angle-right"></i>
			<span class="text-black ">
				<span class=" hover-red">
					Trên 15
				</span>
			</span>
		</a>
	</div>
</div>