<div class="row">
	<div class="col-md-12">
		<div class="row w-75 ms-3 pt-2 bg-light rounded-1">
			<div class="col-auto p-0 pe-2 fw-bold  ps-2"><a asp-action="Index" class="text-decoration-none">Quản lý /</a></div>
			<div class="col-auto p-0 ">Cập nhật tin tức</div>
		</div>
		<form asp-action="Update" method="post" enctype="multipart/form-data">
			<div class="col p-0 ms-3 ps-2 fs-4 fw-bold">Cập nhật tin tức</div>
			<hr class="mt-1 mx-4" />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<partial name="_AddOrUpdateNews" model="Model" />

			<div class="form-group mx-3 mt-3 ">
				<button type="submit" class="btn btn-success ms-2"><i class="fa fa-save"></i>Lưu</button>
				<button type="reset" class="btn btn-default"><i class="fa fa-undo"></i> Nhập lại</button>
			</div>
		</form>
	</div>
</div>