

<div class="modal-body pt-0 px-1">
	<button class="border border-none p-3 py-2 m-1 rounded-3">
		<a asp-action="Index" asp-controller="Home" asp-route-price="1" class=" text-decoration-none">Dưới 1 triệu</a>
	</button>
	<button class="border border-none p-3 py-2 m-1 rounded-3">
		<a asp-action="Index" asp-controller="Home" asp-route-price="1-3" class=" text-decoration-none">Từ 1 triệu - 3 triệu</a>
	</button>
	<button class="border border-none p-3 py-2 m-1 rounded-3">
		<a asp-action="Index" asp-controller="Home" asp-route-price="3-5" class=" text-decoration-none">Từ 3 triệu - 5 triệu</a>
	</button>
	<button class="border border-none p-3 py-2 m-1 rounded-3">
		<a asp-action="Index" asp-controller="Home" asp-route-price="5-7" class=" text-decoration-none">Từ 5 triệu - 7 triệu</a>
	</button>
	<button class="border border-none p-3 py-2 m-1 rounded-3">
		<a asp-action="Index" asp-controller="Home" asp-route-price="7-10" class=" text-decoration-none">Từ 7 triệu - 10 triệu</a>
	</button>
	<button class="border border-none p-3 py-2 m-1 rounded-3">
		<a asp-action="Index" asp-controller="Home" asp-route-price="10-15" class=" text-decoration-none">Từ 10 triệu - 15 triệu</a>
	</button>
	<button class="border border-none p-3 py-2 m-1 rounded-3">
		<a asp-action="Index" asp-controller="Home" asp-route-price=">15" class=" text-decoration-none">Trên 15 triệu</a>
	</button>
</div>