


<div class="row">
	<div class="col-6 p-0 py-1">
		<a asp-action="Index" asp-controller="Home" asp-route-Area="<20" class=" text-decoration-none hover-red">
			<i class="fas fa-angle-right"></i>
			<span class="text-black ">
				<span class=" hover-red">
					Dưới 20m<sup>2</sup>
				</span>
			</span>
		</a>
	</div>
	<div class="col-6 p-0 py-1">
		<a asp-action="Index" asp-controller="Home" asp-route-Area="20-30" class=" text-decoration-none hover-red">
			<i class="fas fa-angle-right"></i>
			<span class="text-black ">
				<span class=" hover-red">
					Từ 20m<sup>2</sup> - 30m<sup>2</sup>
				</span>
			</span>
		</a>
	</div>
	<div class="col-6 p-0 py-1">
		<a asp-action="Index" asp-controller="Home" asp-route-Area="30-50" class=" text-decoration-none hover-red">
			<i class="fas fa-angle-right"></i>
			<span class="text-black ">
				<span class=" hover-red">
					Từ 30m<sup>2</sup> - 50m<sup>2</sup>
				</span>
			</span>
		</a>
	</div>
	<div class="col-6 p-0 py-1">
		<a asp-action="Index" asp-controller="Home" asp-route-Area="50-70" class=" text-decoration-none hover-red">
			<i class="fas fa-angle-right"></i>
			<span class="text-black ">
				<span class=" hover-red">
					Từ 50m<sup>2</sup> - 70m<sup>2</sup>
				</span>
			</span>
		</a>
	</div>
	<div class="col-6 p-0 py-1">
		<a asp-action="Index" asp-controller="Home" asp-route-Area="70-90" class=" text-decoration-none hover-red">
			<i class="fas fa-angle-right"></i>
			<span class="text-black ">
				<span class=" hover-red">
					Từ 70m<sup>2</sup> - 90m<sup>2</sup>
				</span>
			</span>
		</a>
	</div>
	<div class="col-6 p-0 py-1">
		<a asp-action="Index" asp-controller="Home" asp-route-Area=">90" class=" text-decoration-none hover-red">
			<i class="fas fa-angle-right"></i>
			<span class="text-black ">
				<span class=" hover-red">
					Trên 90m<sup>2</sup>
				</span>
			</span>
		</a>
	</div>
</div>