@model IEnumerable<RentalSystem.Models.AppNews>

@* Blog new  *@
<div class="row ms-2 px-3 rounded-3 py-2 mt-4" style="background-color:#ededed">
	<div class="col ">
		<div class="row fw-bold fs-5 mb-2">Bài viết mới</div>
		@foreach(var item in Model)
		{
			<a asp-action="Detail" asp-controller="News" asp-route-id="@item.IdNews" class=" text-decoration-none text-black">
				<div class="row">
					<div class="col p-0 py-1 hover-red"><i class="fas fa-angle-right"></i> @item.Title</div>
				</div>
			</a>
		}

	</div>
</div>