@model RentalSystem.ViewModels.AppLoginVM;
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container  d-flex justify-content-center mb-2 mt-4">
    <form asp-action="Login" method="POST">
        <div class="mt-1 rounded-2 p-3" style="width: 500px; background-color: rgb(226,226,226)">
            <div class="row fw-bold fs-4 px-3 mb-2">Thiết lặp mật khẩu mới</div>
            <span class="row px-3">Vui lòng nhập số điện thoại liên kết với tài khoản của bạn để nhận mã đặt lại mật khẩu</span>
            <div class="row text-uppercase px-3" style="font-size: 13px;">Sô điện thoại:</div>
            <div class="row px-3 mt-2">
                <input type="text" name="sdt" class="form-control" placeholder="" />
            </div>
            <div class="row text-uppercase px-3">
                <button class="border border-none py-2 bg-primary rounded-2 hover-text-light fw-bold">Tiếp tục</button>
            </div>
            <span>Vui lòng kiểm tra tin nhắn SMS để nhận mật khẩu</span>
        </div>
    </form>
</div>