@model RentalSystem.Areas.Admin.ViewModels.UserVM

<div class="container-fluid p-0">
	<div class="row w-100 ps-4 ">
		<div class="col-auto p-0 ps-2">
			<a asp-action="Index" asp-controller="AdminAccount" class="text-decoration-none">Quản lý danh sách tài khoản /</a>
		</div>
		<div class="col-auto p-0 ms-1">
			<i> Thêm tài khoản</i>
		</div>
	</div>
	<div class="row w-100 fs-4 ps-4  pt-2" style="font-weight: 500">
		<span class="ps-2">Thêm tài khoản</span>
	</div>
	<hr />
	<div class="row w-100 ">
		<div class="col p-0 ms-4 ps-4">
			<form asp-action="AddUser" method="post" >
				<div class="row w-100">
					<div class="col-5 p-0 ">
						<div class="row ms-0 me-4  mt-2">
							<div class="p-0 fw-bold fs-6 mb-2">Họ tên <span class="text-danger">*</span></div>
							<input type="text" asp-for="Name" class="form-control" />
							<span asp-validation-for="Name"></span>
						</div>
						<div class="row ms-0 me-4 mt-2">
							<div class="p-0 fw-bold fs-6 mb-2">Mật khẩu <span class="text-danger">*</span></div>
							<input type="password" asp-for="Password" class="form-control" />
							<span asp-validation-for="Password"></span>
						</div>
						<div class="row ms-0 me-4  mt-2">
							<div class="p-0 fw-bold fs-6 mb-2">Xác nhận mật khẩu <span class="text-danger">*</span></div>
							<input type="password" asp-for="Cfm_Password" class="form-control" />
							<span asp-validation-for="Cfm_Password"></span>
						</div>
						<div class="row ms-0 me-4  mt-2">
							<div class="p-0 fw-bold fs-6 mb-2">Vai trò trên trang</div>
							<select asp-for="IdRole" id="statusSelect" class="form-select form-select-sm py-2" aria-label="Small select example">
								@foreach (var item in ViewBag.ListRole)
								{
									<option value="@item.IdRole">@item.Name</option>
								}
							</select>
						</div>
					</div>

					<div class="col-7 p-0 ms-auto ">
						<div class="row ms-0   mt-2">
							<div class="col p-0">
								<div class="row px-2 pe-4">
									<div class="col-5 p-0 ps-1">
										<div class="p-0 fw-bold fs-6 mb-2">Email <span class="text-danger">*</span></div>
										<input type="text" asp-for="Email" class="form-control" />
										<span asp-validation-for="Email"></span>
									</div>
									<div class="col-6 ms-auto p-0 me-3">
										<div class="p-0 fw-bold fs-6 mb-2">Số điện thoại(zalo)  <span class="text-danger">*</span></div>
										<input type="text" asp-for="PhoneNumberZL" class="form-control" />
										<span asp-validation-for="PhoneNumberZL"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="row ms-0 mx-3  mt-2">
							<div class="p-0 fw-bold fs-6 mb-2">Địa chỉ <span class="text-danger">*</span></div>
							<input type="text" asp-for="Address" class="form-control" />
							<span asp-validation-for="Address"></span>
						</div>
						<div class="row ms-0 mx-3  mt-2">
							<div class="p-0 fw-bold fs-6 mb-2">Link FB</div>
							<input type="text" asp-for="LinkFB" class="form-control" />
							<span asp-validation-for="LinkFB"></span>
						</div>
					</div>
				</div>
				<div class="row w-100  mt-5">
					<button class="btn btn-success  p-2 px-4 w-auto" type="submit"><i class="far fa-save"></i> Lưu</button>
					<button class="btn  p-2 px-4 w-auto ms-2" style="background-color: #c3c3c3" type="reset"><i class="fas fa-undo"></i> Nhập lại</button>
				</div>
			</form>
			<div class="row mt-3 w-100">
				<a asp-action="Index" asp-controller="AdminAccount" class="text-decoration-none p-0 w-auto">Quay về trang danh sách</a>
			</div>
		</div>
	</div>
</div>
