

<div class="modal-body pt-0 px-1">
	<button class="border border-none p-3 py-2 m-1 rounded-3">
		<a asp-action="Index" asp-controller="Home" asp-route-Area="<20" class=" text-decoration-none">
			Dưới 20m<sup>2</sup>
		</a>
	</button>
	<button class="border border-none p-3 py-2 m-1 rounded-3">
		<a asp-action="Index" asp-controller="Home" asp-route-Area="20-30" class=" text-decoration-none">
			Từ 20m<sup>2</sup> - 30m<sup>2</sup>
		</a>
	</button>
	<button class="border border-none p-3 py-2 m-1 rounded-3">
		<a asp-action="Index" asp-controller="Home" asp-route-Area="30-50" class=" text-decoration-none">
			Từ 30m<sup>2</sup> - 50m<sup>2</sup>
		</a>
	</button>
	<button class="border border-none p-3 py-2 m-1 rounded-3">
		<a asp-action="Index" asp-controller="Home" asp-route-Area="50-70" class=" text-decoration-none">
			Từ 50m<sup>2</sup> - 70m<sup>2</sup>
		</a>
	</button>
	<button class="border border-none p-3 py-2 m-1 rounded-3">
		<a asp-action="Index" asp-controller="Home" asp-route-Area="70-90" class=" text-decoration-none">
			Từ 70m<sup>2</sup> - 90m<sup>2</sup>
		</a>
	</button>
	<button class="border border-none p-3 py-2 m-1 rounded-3">
		<a asp-action="Index" asp-controller="Home" asp-route-Area=">90" class=" text-decoration-none">
			Trên 90m<sup>2</sup>
		</a>
	</button>
</div>