
<div class="col-auto mt-1 pointer hover-underline position-relative">
	<a asp-action="Index" asp-controller="Pin" class="text-decoration-none text-black">
		<i class="far fa-bookmark" style="color: #FFD43B;"></i> Đã lưu
	</a>
	<span class="position-absolute text-danger fw-bold" style="top: -10px; left: 15px; border-radius: 50%; padding: 0 3px; font-size: 18px;">@ViewBag.Quantity</span>
</div>